@charset "utf-8";html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 1.8rem;
  line-height: 2;
  color: #666;
  overflow-x: hidden;
  letter-spacing: 0.01em;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
main {
  padding-bottom: 200px;
}
main::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 250px;
  background: url("../img/index_main01.jpg") no-repeat 0 0/cover;
}
h1 {
  margin-bottom: 20px;
  color: #d70c1e;
  font-size: 6rem;
  font-weight: bold;
}
.inner {
  width: 80%;
  margin-inline: auto;
  padding-top: 30px;
}
.inner + .inner {
  position: relative;
  margin-top: 50px;
  padding-top: 50px;
}
.inner::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f0f0f0;
  width: 100%;
  height: 5px;
}
.inner:first-of-type:before {
  content: none;
}
.inner.full__border::before {
  width: calc(100vw + 20%);
  left: -20%;
}
h2 {
  margin-bottom: 15px;
  font-size: 4rem;
  font-weight: bold;
}
.map__wrap {
  margin-top: 40px;
}
.map__wrap iframe {
  width: 100%;
}
figure {
  margin-top: 30px;
  text-align: center;
}
.box__wrap + .box__wrap {
  margin-top: 25px;
}
.speaker__profile h3 {
  margin-bottom: 10px;
  font-weight: bold;
}
.table__wrap {
  width: 100%;
}
.table__wrap th,
.table__wrap td {
  text-align: left;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.table__wrap th {
  background-color: #d70c1e;
  color: #fff;
}
.w20per { width: 20%; }
.w30per { width: 30%; }
.w40per { width: 40%; }
.w50per { width: 50%; }
.w60per { width: 60%; }
.w70per { width: 70%; }
.w80per { width: 80%; }

footer {
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}